@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

h1 {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-family: "Glass Antiqua";
  color: #4d0080;
  font-weight: 900; }

p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #4d0080;
  font-family: "Roboto";
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.botone {
  font-size: 16px;
  background-color: #cbb6e8;
  color: #340c5a;
  border: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
  -webkit-box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
  -moz-box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
  font-family: "Roboto"; }
  .botone:hover {
    background: radial-gradient(circle, #cbb6e8 0%, #4d0080 100%);
    color: #ffffff;
    font-weight: 800; }

main i {
  font-size: 50px;
  background-color: #25d366;
  color: #ffffff;
  padding: 5px;
  border-radius: 50%;
  position: fixed;
  bottom: 60px;
  right: 30px; }

.galeria-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  gap: 5px;
  grid-template-areas: "le-1 le-2 le-2" "r-1 r-1 te1"; }
  .galeria-grid div {
    position: relative; }
    .galeria-grid div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .galeria-grid div h3 {
      position: absolute;
      bottom: 0;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.747);
      width: 90%;
      padding: 5px;
      font-family: "Roboto";
      font-size: 1rem; }
    .galeria-grid div .le-1 {
      grid-column: span 1;
      grid-area: le-1; }
    .galeria-grid div .le-2 {
      grid-column: span 2;
      grid-area: le-2; }
    .galeria-grid div .r-1 {
      grid-row: span 3;
      grid-column: span 2;
      grid-area: r-1; }
    .galeria-grid div .te1 {
      grid-column: span 1;
      grid-row: span 1;
      grid-area: te1; }

header nav {
  width: 100%;
  height: 100px;
  background-color: rgba(170, 127, 255, 0.341); }
  header nav a.enlace {
    position: absolute; }
  header nav img.logo {
    padding: 5px;
    width: 80px;
    height: 80px;
    position: sticky;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px; }
  header nav #btn-menu {
    display: none; }
  header nav .hamb {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none; }
  header nav ul {
    list-style: none;
    float: right;
    margin-right: 20px; }
    header nav ul li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px; }
      header nav ul li a {
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        color: blueviolet;
        font-size: 20px;
        position: sticky;
        margin-right: 20px;
        font-family: "Roboto";
        align-items: center;
        justify-content: center; }
        header nav ul li a:active, header nav ul li a:hover {
          text-decoration: wavy underline;
          transition: 0.5s;
          color: white; }

main {
  /*INDEX*/ }
  main .hero {
    display: inline-block;
    box-sizing: border-box;
    background-image: url(../img/espaciovic.webp);
    text-align: center;
    color: #d6cbf0;
    width: 100%;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
    main .hero h1 {
      color: #d281f8;
      font-weight: 900;
      animation-duration: 2s;
      animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
    main .hero p {
      font-size: 20px;
      font-weight: 800;
      color: #cbb6e8;
      font-family: "Roboto";
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 30px;
      text-transform: uppercase; }
  main .boton {
    text-decoration: none;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    text-align: center;
    color: #ffffff; }
    main .boton:hover {
      background: #cbb6e8;
      background: radial-gradient(circle, #cbb6e8 0%, #4d0080 100%); }
  main .blog h2 {
    display: block;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    font-family: "Roboto";
    color: blueviolet;
    margin-top: 2rem; }
  main .blog .p3 {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #4d0080;
    font-family: "Roboto";
    margin: 20px; }
  main .cajas .caja-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Roboto"; }
    main .cajas .caja-cont .caja {
      background-color: #d9c7f1;
      min-width: 200px;
      max-width: 400px;
      height: 500px;
      margin: 20px;
      padding: 20px;
      border: #9892af solid 2px;
      box-shadow: 2px 6px 5px 0px rgba(151, 112, 153, 0.5);
      -webkit-box-shadow: 2px 6px 5px 0px rgba(151, 112, 153, 0.5);
      -moz-box-shadow: 2px 6px 5px 0px rgba(151, 112, 153, 0.5);
      transition-duration: 5s; }
      main .cajas .caja-cont .caja:hover {
        scale: 1.3; }
      main .cajas .caja-cont .caja img {
        width: 350px;
        height: 250px;
        padding: 10px;
        display: inline-block;
        align-items: center; }
      main .cajas .caja-cont .caja h3 {
        font-size: 28px;
        font-weight: bold;
        color: blueviolet;
        margin: 2px;
        padding: 2px;
        font-family: "Roboto";
        text-align: center; }
  main .contacto p {
    font-size: 20px;
    color: blueviolet;
    font-family: "Roboto";
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 30px; }
  main .formulario {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 20px;
    font-family: "Roboto";
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    width: 90%;
    max-width: 400px;
    background-color: #d9c7f1;
    height: 500px;
    border: #9892af solid 2px;
    box-shadow: 2px 6px 5px 0px rgba(151, 112, 153, 0.5);
    -webkit-box-shadow: 2px 6px 5px 0px rgba(151, 112, 153, 0.5);
    -moz-box-shadow: 2px 6px 5px 0px rgba(151, 112, 153, 0.5);
    border-radius: 5px; }
    main .formulario label {
      color: #a264ed;
      font-size: 20px;
      font-weight: 600px;
      margin-bottom: 10px; }
    main .formulario input {
      justify-content: flex-start; }
    main .formulario input,
    main .formulario textarea {
      padding: 10px;
      border-radius: 1px;
      margin-bottom: 10px;
      background-color: #e8d9f8;
      border: 1px solid #b56df0;
      text-align: left;
      font-family: "Roboto"; }
      main .formulario input::placeholder,
      main .formulario textarea::placeholder {
        color: gray; }
    main .formulario .botone {
      font-size: 16px;
      background-color: #cbb6e8;
      color: #340c5a;
      border: 3px;
      border-radius: 3px;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      margin: 10px;
      padding: 10px;
      align-items: center;
      justify-content: center;
      box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
      -webkit-box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
      -moz-box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
      font-family: "Roboto"; }
      main .formulario .botone:hover {
        background: #cbb6e8;
        background: radial-gradient(circle, #cbb6e8 0%, #4d0080 100%);
        background: radial-gradient(circle, #cbb6e8 0%, #4d0080 100%); }

.caja-cont-qs {
  display: "Roboto";
  width: 90%;
  height: auto;
  margin: 0 auto;
  color: #321c61;
  font-size: 20px;
  font-family: "Roboto";
  padding: 10px;
  flex-direction: column;
  background-color: #d8b4fb; }
  .caja-cont-qs .mision {
    display: flex; }
    .caja-cont-qs .mision img {
      width: 80%;
      height: 33.3%;
      padding: 30px; }
    .caja-cont-qs .mision .mision-description {
      padding-inline: 16px; }
      .caja-cont-qs .mision .mision-description h3 {
        font-size: 30px;
        font-weight: 800;
        color: #4d0080;
        text-align: left;
        display: block;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 5px; }
      .caja-cont-qs .mision .mision-description p {
        font-size: 16px;
        align-items: left;
        justify-content: left;
        padding: 5px;
        color: #4d0080; }
  .caja-cont-qs .vision {
    display: flex; }
    .caja-cont-qs .vision img {
      width: 80%;
      height: 33.3%;
      padding: 10px;
      padding: 30px; }
    .caja-cont-qs .vision .vision-description {
      order: -1;
      padding-inline: 16px; }
    .caja-cont-qs .vision h3 {
      font-size: 30px;
      font-weight: 800;
      color: #4d0080;
      text-align: right;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px; }
    .caja-cont-qs .vision p {
      font-size: 16px;
      font-weight: 400;
      font-family: "Roboto";
      flex-direction: row;
      align-items: right;
      padding-top: 10px;
      text-align: right;
      color: #4d0080; }
  .caja-cont-qs .valores {
    display: flex; }
    .caja-cont-qs .valores img {
      width: 80%;
      height: 33.3%;
      padding: 30px; }
    .caja-cont-qs .valores .valores-description {
      padding-inline: 16px; }
      .caja-cont-qs .valores .valores-description h3 {
        font-size: 30px;
        font-weight: 800;
        font-family: "Roboto";
        color: #4d0080;
        text-align: left;
        display: block;
        margin-top: 20px;
        margin-bottom: 10px; }
      .caja-cont-qs .valores .valores-description ul li {
        font-size: 18px;
        font-family: "Roboto";
        flex-direction: row;
        align-items: right;
        padding-top: 10px;
        color: #4d0080; }

.hero-productos {
  display: block;
  margin: 20px;
  padding: 20px;
  text-align: center; }

.productos-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }
  .productos-description .talleres {
    width: 30%;
    margin: 10px; }
    .productos-description .talleres img {
      height: 80%;
      width: 100%;
      transition-duration: 5s; }
      .productos-description .talleres img:hover {
        scale: 1.3; }

footer .cont-foot {
  display: flex;
  background-color: #d9c7f1;
  font-size: 20px;
  padding: 20px;
  align-items: end;
  justify-content: space-between;
  font-family: "Roboto";
  margin-top: 110px; }
  footer .cont-foot i {
    font-size: 40px;
    color: blueviolet; }

/*MEDIA QUERIES*/
@media screen and (max-width: 1440px) {
  .galeria-grid {
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 350px;
    gap: 10px;
    grid-template-areas: "le-1 le-2 le-2" "r-1 r-1 te1"; }
    .galeria-grid .le-1 {
      grid-column: span 1;
      grid-area: le-1; }
    .galeria-grid .le-2 {
      grid-column: span 2;
      grid-area: le-2; }
    .galeria-grid .r-1 {
      grid-row: span 3;
      grid-area: r-1; }
    .galeria-grid .te1 {
      grid-column: span 1;
      grid-row: span 1;
      grid-area: te1; }
  .hero-qs p {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px; }
  .caja-cont-qs {
    width: 100%;
    margin: 10px; }
    .caja-cont-qs .mision img {
      width: 50%;
      height: 400px;
      padding: 15px; }
    .caja-cont-qs .mision .mision-description h3 {
      font-weight: 700; }
    .caja-cont-qs .mision .mision-description p {
      text-align: left;
      font-size: 20px; }
    .caja-cont-qs .vision img {
      width: 50%;
      height: 400px;
      padding: 15px; }
    .caja-cont-qs .vision h3 {
      margin-top: 30px; }
    .caja-cont-qs .vision p {
      font-size: 20px; }
    .caja-cont-qs .valores img {
      width: 50%;
      height: 400px;
      padding: 15px; } }

@media screen and (max-width: 770px) {
  header nav {
    justify-items: center;
    align-items: center;
    width: 100%; }
    header nav img.logo {
      width: 70px;
      height: 70px;
      margin: 15px;
      padding: 5px; }
    header nav .hamb {
      display: block;
      color: blueviolet;
      margin-top: 10px; }
    header nav #btn-menu:checked ~ ul {
      left: 0; }
    header nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #d9c7f1;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      z-index: 1 !important; }
      header nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px; }
        header nav ul li a {
          font-size: 18px; }
          header nav ul li a:active, header nav ul li a:hover {
            text-decoration: line-through;
            transition: 0.5s; }
  .hero {
    color: #d6cbf0;
    font-weight: 700; }
    .hero a {
      text-decoration: none;
      color: blueviolet;
      font-family: "Roboto";
      background-color: #d9c7f1;
      border-radius: 3px;
      padding: 5px; }
    .hero .boton:hover {
      background-color: blueviolet;
      color: #d9c7f1; }
    .hero p {
      font-weight: 800; }
  h1 {
    font-size: 80px; }
  p {
    font-size: 16px; }
  /*QUIENES SOMOS*/
  .caja-cont-qs .mision .mision-description h3 {
    font-size: 25px;
    margin: 15px; }
  .caja-cont-qs .mision .mision-description p {
    font-size: 16px;
    padding-top: 10px; }
  .caja-cont-qs .vision .vision-description h3 {
    font-size: 25px; }
  .caja-cont-qs .vision .vision-description p {
    font-size: 16px; }
  .caja-cont-qs .valores .valores-description h3 {
    font-size: 25px; }
  .caja-cont-qs .valores .valores-description p {
    font-size: 16px; }
  /*PRODUCTOS*/
  .hero-productos {
    margin: 5px;
    padding: 5px; }
  .productos-description {
    display: block;
    align-items: center;
    justify-content: center; }
    .productos-description .talleres {
      width: 90%;
      margin-left: 50px;
      align-items: center;
      justify-content: center; }
      .productos-description .talleres img {
        height: 50%;
        width: 80%;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .productos-description .talleres .botone {
        width: 80%;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-top: 15px; } }

@media screen and (max-width: 770px) {
  .hero-qs {
    width: 100%; }
    .hero-qs h1 {
      font-size: 50px; }
    .hero-qs p {
      font-size: 16px;
      padding: 5px;
      margin: 5px; }
  .caja-cont-qs {
    width: 100%;
    margin-left: 0; }
    .caja-cont-qs .mision {
      display: block; }
      .caja-cont-qs .mision img {
        width: 100%; }
      .caja-cont-qs .mision .mision-description h3 {
        font-size: 20px;
        margin: 5px;
        font-weight: 700;
        text-align: left; }
      .caja-cont-qs .mision .mision-description p {
        font-size: 16px;
        padding-top: 5px;
        text-align: justify; }
    .caja-cont-qs .vision {
      display: block; }
      .caja-cont-qs .vision img {
        width: 100%; }
      .caja-cont-qs .vision .vision-description {
        text-align: left;
        justify-content: left; }
        .caja-cont-qs .vision .vision-description h3 {
          font-size: 20px;
          margin: 5px;
          text-align: left;
          font-weight: 700; }
        .caja-cont-qs .vision .vision-description p {
          font-size: 16px;
          text-align: justify; }
    .caja-cont-qs .valores {
      display: block; }
      .caja-cont-qs .valores img {
        width: 100%; }
      .caja-cont-qs .valores .valores-description h3 {
        font-size: 20px;
        margin: 5px;
        text-align: left;
        font-weight: 700; }
      .caja-cont-qs .valores .valores-description p {
        font-size: 16px;
        text-align: justify; }
  /*TERAPIAS*/
  .hero-terapias h1 {
    font-size: 60px; }
  .galeria-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 350px;
    gap: 10px;
    grid-template-areas: "le-1" "le-2" "r-1" "te1"; }
    .galeria-grid div h3 {
      position: absolute;
      bottom: 0;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.644);
      width: 100%;
      padding: 5px;
      font-family: "Roboto";
      font-size: 1rem; }
  /*PRODUCTOS*/
  .hero-productos h1 {
    font-size: 50px; }
  .productos-description .talleres {
    width: 100%;
    margin-left: 4px;
    align-items: center;
    justify-content: center; }
  .contacto h1 {
    font-size: 60px;
    margin: 10px; }
  .contacto p {
    font-size: 16px;
    margin: 10px; }
  .hero-galeria h1 {
    font-size: 60px; }
  footer .cont-foot {
    font-size: 16px;
    width: 100%;
    margin-bottom: 0; }
    footer .cont-foot i {
      font-size: 18px;
      color: blueviolet; }
  main i {
    font-size: 30px; } }
