footer {
    .cont-foot {
        display: $dpf;
        background-color: rgb(217, 199, 241);
        font-size: 20px;
        padding: 15px;
        align-items: end;
        justify-content: space-between;
        font-family: $ffp;

        i {
            font-size: 30px;
            color: $footicon;
            transition: 1s;

            &:hover {
                transform: scale 1.2;
            }

        }
    }
}