$colorw: #ffffff;
$color-ppal: rgba(170, 127, 255, 0.341);
$color-h1: rgb(77, 0, 128);
$h1ppal:rgb(210, 129, 248);
$color-p: rgb(128, 83, 224);
$colorh3: rgba(0, 0, 0, 0.747);
$color-botone: rgb(203, 182, 232);
$color-cuat: rgb(152, 146, 175);
$color-wapp: #25d366;
$color-bg: rgb(181, 139, 221);
$fsh1: 100px;
$fsh3: 1rem;
$ffh1: "Glass Antiqua";
$ffp: "Roboto";
$fsb: 16px;
$footicon: rgb(138, 43, 226);
$dpb: block;
$dpf: flex;
$dpg: grid;
$dpn: none;
$dpib: inline-block;
$fw800: 800;
$fwh1: 900;