@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Roboto:wght@300&display=swap");


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    display: $dpb;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: $fsh1;
    font-family: $ffh1;
    color: $color-h1;
    font-weight: 900;
}

p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: $color-h1;
    font-family: $ffp;
    margin: 5px;
    display: $dpf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botone {
    font-size: $fsb;
    background-color: $color-botone;
    color: rgb(52, 12, 90);
    border: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    display: $dpf;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
    -webkit-box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
    -moz-box-shadow: 7px 8px 400px 40px rgba(80, 36, 125, 0.75);
    font-family: $ffp;
        &:hover {
            background: radial-gradient(circle, rgba(203, 182, 232, 1) 0%, rgba(77, 0, 128, 1) 100%);
            color: $colorw;
            font-weight: $fw800;
        }
    }

main i {
    font-size: 50px;
    background-color: $color-wapp;
    color: $colorw;
    padding: 5px;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 30px;
}
.galeria-grid{
    width: 100%;
    display: $dpg;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    gap: 5px;
    grid-template-areas:
    "le-1 le-2 le-2"
    "r-1 r-1 te1"
    ;
        div{
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h3{
            position: absolute;
            bottom: 0;
            color: $colorw;
            background-color: $colorh3;
            width: 90%;
            padding: 5px;
            font-family: "Roboto";
            font-size: $fsh3;
        }
        .le-1{
            grid-column: span 1;
            grid-area: le-1;
        }
        .le-2{
            grid-column: span 2;
            grid-area: le-2;
        }
        .r-1{
            grid-row: span 3;
            grid-column: span 2;
            grid-area: r-1;
        }
        .te1{
            grid-column: span 1;
            grid-row: span 1;
            grid-area: te1;
        }
    }
}
