/*MEDIA QUERIES*/
@media screen and (max-width: 1440px) {
    .galeria-grid {
        grid-template-columns: repeat(3, 2fr);
        grid-auto-rows: 350px;
        gap: 10px;
        grid-template-areas:
            "le-1 le-2 le-2"
            "r-1 r-1 te1"
        ;

        .le-1 {
            grid-column: span 1;
            grid-area: le-1;
        }

        .le-2 {
            grid-column: span 2;
            grid-area: le-2;
        }

        .r-1 {
            grid-row: span 3;
            grid-area: r-1;
        }

        .te1 {
            grid-column: span 1;
            grid-row: span 1;
            grid-area: te1;
        }

    }

    .hero-qs {
        p {
            font-size: 20px;
            align-items: center;
            justify-content: center;
            margin: 30px;
            padding: 10px;
        }
    }

    .caja-cont-qs {
        width: 100%;
        margin: 10px;

        .mision {
            img {
                width: 50%;
                height: 400px;
                padding: 15px;
            }

            .mision-description {
                h3 {
                    font-weight: 700;
                }

                p {
                    text-align: left;
                    font-size: 20px;
                }
            }
        }

        .vision {
            img {
                width: 50%;
                height: 400px;
                padding: 15px;
            }

            h3 {
                margin-top: 30px;
            }

            p {
                font-size: 20px;
            }
        }

        .valores {
            img {
                width: 50%;
                height: 400px;
                padding: 15px;
            }
        }
    }
}

@media screen and(max-width: 770px) {
    header {
        nav {
            img.logo{
                width: 70px;
                height: 70px;
            }
            ul {
                li {
                    display: inline-block;
                    a {
                        font-size: 18px;
                        &:active,
                        &:hover{
                            text-decoration: line-through;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
    h1{
        font-size: 80px;
    }
    p{
        font-size: 18px;
    }

    .caja-cont-qs{
        .mision{
            .mision-description{
                h3{
                    font-size: 25px;
                    margin: 15px;

                }
                p{
                    font-size: 16px;
                    padding-top: 10px;
                }    
            }     
        }
        .vision{
            .vision-description{
                h3{
                    font-size: 25px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .valores{
            .valores-description{
                h3{
                    font-size: 25px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    /*PRODUCTOS*/
    .hero-productos{
        margin: 5px;
        padding: 5px;
    }
    .productos-description{
        display: block;
        align-items: center;
        justify-content: center;

        .talleres{
            width: 90%;
            margin-left: 50px;
            align-items: center;
            justify-content: center;
            img{
                height: 50%;
                width: 80%;
                margin-left: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .botone{
                width: 80%;
                margin-left: 50px;
                margin-bottom: 50px;
                margin-top: 15px;
            }
        }
    }            
}    