/*MEDIA QUERIES*/

@media screen and (max-width: 1440px) {
    .galeria-grid {
        grid-template-columns: repeat(3, 2fr);
        grid-auto-rows: 350px;
        gap: 10px;
        grid-template-areas:
            "le-1 le-2 le-2"
            "r-1 r-1 te1"
        ;

        .le-1 {
            grid-column: span 1;
            grid-area: le-1;
        }

        .le-2 {
            grid-column: span 2;
            grid-area: le-2;
        }

        .r-1 {
            grid-row: span 3;
            grid-area: r-1;
        }

        .te1 {
            grid-column: span 1;
            grid-row: span 1;
            grid-area: te1;
        }

    }

    .hero-qs {
        p {
            font-size: 20px;
            align-items: center;
            justify-content: center;
            margin: 30px;
            padding: 10px;
        }
    }

    .caja-cont-qs {
        width: 100%;
        margin: 10px;

        .mision {
            img {
                width: 50%;
                height: 400px;
                padding: 15px;
            }

            .mision-description {
                h3 {
                    font-weight: $fw800;
                }

                p {
                    text-align: left;
                    font-size: 20px;
                }
            }
        }

        .vision {
            img {
                width: 50%;
                height: 400px;
                padding: 15px;
            }

            h3 {
                margin-top: 30px;
            }

            p {
                font-size: 20px;
            }
        }

        .valores {
            img {
                width: 50%;
                height: 400px;
                padding: 15px;
            }
        }
    }
}

@media screen and(max-width: 1030px) {
    header {
        nav {
            justify-items: center;
            align-items: center;
            width: 100%;

            img.logo {
                width: 70px;
                height: 70px;
                margin: 15px;
                padding: 5px;
            }

            .hamb {
                display: $dpb;
                color: $footicon;
                margin-top: 10px;
            }

            #btn-menu:checked~ul {
                left: 0;
            }

            ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: rgb(217, 199, 241);
                top: 80px;
                left: 100%;
                text-align: center;
                transition: all 0.5s;
                z-index: 1 !important;

                li {
                    display: block;
                    margin: 50px 0;
                    line-height: 30px;

                    a {
                        font-size: 18px;

                        &:active,
                        &:hover {
                            text-decoration: line-through;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }

    .hero {
        color: rgb(214, 203, 240);
        font-weight: 700;

        a {
            text-decoration: none;
            color: rgb(138, 43, 226);
            font-family: $ffp;
            background-color: rgb(217, 199, 241);
            border-radius: 3px;
            padding: 5px;
        }

        .boton {
            &:hover {
                background-color: rgb(138, 43, 226);
                color: rgb(217, 199, 241);
            }
        }

        p {
            font-weight: $fw800;
        }
    }

    h1 {
        font-size: 100px;
    }

    p {
        font-size: 16px;
    }

    /*QUIENES SOMOS*/
    .caja-cont-qs {
        .mision {
            .mision-description {
                h3 {
                    font-size: 25px;
                    margin: 15px;

                }

                p {
                    font-size: 16px;
                    padding-top: 10px;
                }
            }
        }

        .vision {
            .vision-description {
                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        .valores {
            .valores-description {
                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    /*PRODUCTOS*/
    .hero-productos {
        margin: 5px;
        padding: 5px;
    }

    .productos-description {
        display: $dpb;
        align-items: center;
        justify-content: center;

        .talleres {
            width: 90%;
            margin-left: 50px;
            align-items: center;
            justify-content: center;

            img {
                height: 50%;
                width: 80%;
                margin-left: 50px;
                display: $dpf;
                align-items: center;
                justify-content: center;
            }

            .botone {
                width: 80%;
                margin-left: 50px;
                margin-bottom: 50px;
                margin-top: 15px;

                &:hover {
                    background: radial-gradient(circle, rgba(203, 182, 232, 1) 0%, rgba(77, 0, 128, 1) 100%);
                    color: $colorw;
                    font-weight: $fw800;
                }
            }
        }
    }

}

@media screen and(max-width: 770px) {
    nav {
        width: 100%;
    }

    .hero-qs {
        width: 100%;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 16px;
            padding: 5px;
            margin: 5px;
        }
    }

    .caja-cont-qs {
        width: 100%;
        margin-left: 0;

        .mision {
            img {
                width: 100%;
            }

            display: block;

            .mision-description {
                h3 {
                    font-size: 20px;
                    margin: 5px;
                    font-weight: $fw800;
                    text-align: left;
                }

                p {
                    font-size: 16px;
                    padding-top: 5px;
                    text-align: justify;
                }
            }
        }

        .vision {
            img {
                width: 100%;
            }

            display: block;

            .vision-description {
                text-align: left;
                justify-content: left;

                h3 {
                    font-size: 20px;
                    margin: 5px;
                    text-align: left;
                    font-weight: 700;
                }

                p {
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }

        .valores {
            img {
                width: 100%;
            }

            display: $dpb;

            .valores-description {
                h3 {
                    font-size: 20px;
                    margin: 5px;
                    text-align: left;
                    font-weight: 700;
                }

                p {
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }
    }

    /*TERAPIAS*/
    .hero-terapias {
        h1 {
            font-size: 60px;
        }
    }

    .galeria-grid {
        display: $dpg;
        width: 100%;
        grid-template-columns: 100%;
        grid-auto-rows: 350px;
        gap: 10px;
        grid-template-areas:
            "le-1"
            "le-2"
            "r-1"
            "te1"
        ;

        div {
            h3 {
                position: absolute;
                bottom: 0;
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.644);
                width: 100%;
                padding: 5px;
                font-family: "Roboto";
                font-size: 1rem;
            }
        }
    }

    /*PRODUCTOS*/
    .hero-productos {
        h1 {
            font-size: 50px;
        }
    }

    .productos-description {
        .talleres {
            width: 100%;
            margin-left: 4px;
            align-items: center;
            justify-content: center;
        }
    }

    .contacto {
        h1 {
            font-size: 60px;
            margin: 10px;
        }

        p {
            font-size: 16px;
            margin: 10px;
        }
    }

    .hero-galeria {
        h1 {
            font-size: 60px;
        }
    }

    footer {
        .cont-foot {
            font-size: 16px;
            width: 100%;
            margin-bottom: 0;

            i {
                font-size: 20px;
                color: blueviolet;
            }
        }
    }

    main {
        i {
            font-size: 30px;
        }
    }
}

@media screen and(max-width: 430px) {
    header {
        nav {
            justify-items: center;
            align-items: center;
            width: 100%;

            .logo {
                width: 50px;
                height: 00px;
                margin: 10px;
                padding: 2.5px;
            }
        }
    }

    .hero {
        h1 {
            font-size: 80px;
        }

        p {
            font-size: 16px;
        }

        .boton {
            font-size: 16px;
            text-transform: uppercase;

            &:hover {
                background: radial-gradient(circle, rgba(203, 182, 232, 1) 0%, rgba(77, 0, 128, 1) 100%);
                color: $colorw;
                font-weight: $fw800;
            }
        }
    }
}

@media screen and(max-width: 380px) {
    main{
        section.hero{
          h1{
             font-size: 60px;
         }
         p{
                font-size: 16px;
            }
        }
        section.blog{
            h2 {
                font-size: 25px;
                margin-top: 1rem;
            }
            .p3 {
                font-size: 16px;
                margin: 5px;
            }
        }
        section.cajas{
                div.caja-cont{
                    div.caja{
                        img{
                            width: 100%;
                        }
                        h3{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                        }
                        }            
                    }
                }
            }
        }
    
@media(prefers-reduced-motion: reduce){
    .hero{
        h1{
            transition: none;
        }
    }
    .productos-description{
        .talleres{
            img{
                transition: none;
            }
        }
    }
}